<h1 class="flex justify-center items-center p-4 mx-auto my-8 font-bold text-2xl">Bienvenidos a mi Api Rest con Node y
    Express.</h1>

<p class="flex justify-center items-center font-medium text-gray-700 text-pretty p-4 mx-auto my-2">

    API REST desarrollada con Node.js, Express y TypeScript, que consume la API pública de Rick and Morty para mostrar
    información de personajes mediante vistas dinámicas con EJS. La interfaz está estilizada con Tailwind CSS, logrando
    una experiencia moderna, responsive y funcional, combinando backend robusto con renderizado del lado del
    servidor.
</p>